.dj-table {
    transform: translateY(30rem);
    transition: 3s ease-out;
    z-index: 200;
}

.speaker {
    transition: 3s ease-out;
    transition-delay: 1s;

    &.one {
        transform: translateX(-30rem);
    }

    &.two {
        transform: translateX(30rem);
    }
}

.music-state {
    animation: dj-background-color 2s linear infinite;

    .audio-container {
        position: relative;
        width: 100%;
        transform: translateY(4.3rem);
        transition: 2s ease-out;
    }

    .audio-bars {
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        height: 100px;
        width: 100%;
        transition: 2s ease-out;
    }

    .audio-bar {
        width: 10px;
        background-color: var(--speaker-big-color);
    }

    .duck {
        scale: 0.8;
        animation: heen-en-weer 2s infinite ease-in-out alternate;

        @keyframes heen-en-weer {
            0% {
                transform: translateX(4rem);
            }

            100% {
                transform: translateX(-4rem);
            }
        }

        .head {
            .mask {
                .face-wrapper {
                    .face {
                        animation: headbang 1.5s infinite ease-in-out;
                        transform-origin: bottom center;

                        @keyframes headbang {
                            0% {
                                rotate: 4deg;
                            }

                            50% {
                                rotate: -7deg;
                            }

                            100% {
                                rotate: 4deg;
                            }
                        }
                    }
                }
            }
        }

        .body {
            .arm {
                &.one {
                    animation: dj-arm-one 1.5s infinite ease-in-out;

                    @keyframes dj-arm-one {
                        0% {
                            rotate: 15deg;
                        }

                        50% {
                            rotate: 30deg;
                        }

                        100% {
                            rotate: 15deg;
                        }
                    }
                }

                &.two {
                    animation: dj-arm-two 1.5s infinite ease-in-out;

                    @keyframes dj-arm-two {
                        0% {
                            rotate: -15deg;
                        }

                        50% {
                            rotate: -30deg;
                        }

                        100% {
                            rotate: -15deg;
                        }
                    }
                }
            }
        }
    }

    .dj-stuff {
        position: relative;

        .dj-table {
            transform: translateY(0);
            transition: 3s ease-out;
            width: 30rem;
            aspect-ratio: 2/1;
            background-color: var(--dj-primary-color);
            position: relative;
            bottom: -5rem;
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 1rem;
        }

        .speaker {
            position: absolute;
            bottom: -5rem;
            height: 25rem;
            aspect-ratio: 1/3;
            background-color: var(--dj-primary-color);
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            gap: 1rem;
            transform: translateX(0);
            transition: 3s ease-out;

            &.one {
                left: -10rem;
            }

            &.two {
                right: -10rem;
            }

            span {
                border-radius: 50%;
                aspect-ratio: 1;

                &.big {
                    width: 5rem;
                    background-color: var(--speaker-big-color);
                }

                &.small {
                    width: 3rem;
                    background-color: var(--speaker-small-color);
                }
            }
        }
    }
}

@keyframes music-playing {
    0% {
        transform: scaleY(1);
    }

    50% {
        transform: scaleY(0.3);
    }

    100% {
        transform: scaleY(1);
    }
}

@keyframes dj-background-color {
    0% {
        background-color: rgb(11, 0, 86);
    }

    32% {
        background-color: rgb(11, 0, 86);
    }

    33% {
        background-color: rgb(11, 4, 57);
    }

    65% {
        background-color: rgb(11, 4, 57);
    }

    66% {
        background-color: rgb(0, 33, 86);
    }

    100% {
        background-color: rgb(0, 33, 86);
    }
}
