*,
*::after,
*::before {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

:root {
  --transparent-color: rgba(255, 255, 255, 0);
  --heading-color: #f0f0f0;
  --suit-primary-color: #fef4ea;
  --suit-secondary-color: #ed6a3b;
  --suit-tertiary-color: #eb9c3d;
  --suit-box-shadow: 0 0.2rem 1rem rgba(0, 0, 0, 0.25);
  --button-primary-color: rgb(74, 191, 234);
  --button-secondary-color: rgb(227, 242, 247);
  --button-tertiary-color: rgb(0, 49, 98);
  --dj-primary-color: rgb(0, 1, 29);
  --dj-secondary-color: rgb(108, 109, 160);
  --dj-tertiary-color: rgb(177, 178, 200);
  --speaker-big-color: rgb(65, 66, 87);
  --speaker-small-color: rgb(34, 35, 61);
  --black-hole-primary: #00e8ff;
  --black-hole-secondary: #bc00f3;
  --black-hole-tertiary: #5b3cf5;
  --stars-animation: stars infinite;
}

body {
  height: 100vh;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0, 0, 0, 0);
  overflow: hidden;
}

h1,
h2,
h3,
h4,
p,
a,
li {
  font-family: monospace;
}

.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  position: absolute;
}

#waveform {
  width: 100%;
  margin-top: 20px;
}

.duck {
  position: relative;
  height: 30rem;
  width: 15rem;
  top: -3rem;
  transition: 1s ease-in-out;
  -webkit-animation: floating 5s infinite ease-in-out;
          animation: floating 5s infinite ease-in-out;
  z-index: 100;
}
.duck .head .mask {
  background-color: var(--suit-primary-color);
  height: 10rem;
  aspect-ratio: 1;
  position: absolute;
  border-radius: 5rem;
  left: 2.5rem;
  z-index: 1500;
}
.duck .head .mask .face-wrapper {
  background-color: grey;
  height: 9rem;
  aspect-ratio: 1;
  position: absolute;
  border-radius: 5rem;
  top: 0.5rem;
  left: 0.1rem;
  overflow: hidden;
}
.duck .head .mask .face-wrapper::before {
  content: "";
  position: absolute;
  width: 2rem;
  top: 1.5rem;
  left: 1rem;
  aspect-ratio: 2/1;
  background-color: rgba(255, 255, 255, 0.404);
  border-radius: 56% 44% 49% 51%/39% 27% 73% 61%;
  -webkit-animation: mask-glow 5s infinite ease-in-out;
          animation: mask-glow 5s infinite ease-in-out;
}
.duck .head .mask .face-wrapper::after {
  content: "";
  position: absolute;
  width: 1rem;
  top: 3.2rem;
  left: 0.7rem;
  aspect-ratio: 2/1;
  background-color: rgba(255, 255, 255, 0.404);
  border-radius: 56% 44% 49% 51%;
  -webkit-animation: mask-glow 5s infinite ease-in-out;
          animation: mask-glow 5s infinite ease-in-out;
}
.duck .head .mask .face-wrapper .face {
  background-color: white;
  height: 9rem;
  aspect-ratio: 1/2.2;
  position: relative;
  top: 3rem;
  left: 2.75rem;
  border-radius: 10rem;
}
.duck .head .mask .face-wrapper .face .eye {
  background-color: black;
  position: absolute;
  top: 1.5rem;
  width: 0.9rem;
  aspect-ratio: 1;
  right: 1rem;
  border-radius: 50%;
  -webkit-animation: blinking 5s infinite linear;
          animation: blinking 5s infinite linear;
}
@-webkit-keyframes blinking {
  46% {
    transform: scaleY(1);
  }
  50% {
    transform: scaleY(0);
  }
  54% {
    transform: scaleY(1);
  }
}
@keyframes blinking {
  46% {
    transform: scaleY(1);
  }
  50% {
    transform: scaleY(0);
  }
  54% {
    transform: scaleY(1);
  }
}
.duck .head .mask .face-wrapper .face .eye::before {
  content: "";
  width: 0.15rem;
  background-color: white;
  aspect-ratio: 1;
  position: absolute;
  top: 0.2rem;
  left: 0.3rem;
  border-radius: 56% 44% 49% 51%/39% 27% 73% 61%;
  -webkit-animation: eye-glow 3s ease-in-out infinite;
          animation: eye-glow 3s ease-in-out infinite;
}
.duck .head .mask .face-wrapper .face .eye::after {
  content: "";
  width: 0.22rem;
  background-color: white;
  aspect-ratio: 1;
  position: absolute;
  top: 0.4rem;
  left: 0.5rem;
  border-radius: 56% 44% 49% 51%/39% 27% 73% 61%;
  -webkit-animation: eye-glow 3s ease-in-out infinite;
          animation: eye-glow 3s ease-in-out infinite;
}
@-webkit-keyframes eye-glow {
  0% {
    scale: 1;
  }
  50% {
    scale: 1.3;
    rotate: 1turn;
  }
  100% {
    scale: 1;
  }
}
@keyframes eye-glow {
  0% {
    scale: 1;
  }
  50% {
    scale: 1.3;
    rotate: 1turn;
  }
  100% {
    scale: 1;
  }
}
.duck .head .mask .face-wrapper .face .beak {
  background-color: var(--suit-tertiary-color);
  width: 3rem;
  aspect-ratio: 2.2/1;
  top: 2.5rem;
  left: -1rem;
  position: absolute;
  border-radius: 56% 44% 49% 51%/39% 27% 73% 61%;
  transform-origin: right center;
}
.duck .head .mask .face-wrapper .face .beak::before {
  content: "";
  background-color: var(--suit-tertiary-color);
  width: 3rem;
  aspect-ratio: 2.2/1;
  top: -0.1rem;
  left: 0rem;
  position: absolute;
  border-radius: 56% 44% 49% 51%/39% 27% 73% 61%;
  transform-origin: right center;
}
.duck .body .stomach {
  background-color: var(--suit-primary-color);
  height: 14rem;
  aspect-ratio: 1/1.2;
  position: absolute;
  border-radius: 50%;
  top: 9rem;
  left: 1.5rem;
  z-index: 1000;
  overflow: hidden;
  box-shadow: var(--suit-box-shadow);
}
.duck .body .stomach::before {
  content: "";
  width: 20rem;
  height: 2.5rem;
  background-color: var(--suit-secondary-color);
  position: absolute;
  top: 8rem;
}
.duck .body .stomach img {
  position: absolute;
  top: 2.3rem;
  left: 2rem;
  width: 3rem;
}
.duck .body .arm {
  background-color: var(--suit-primary-color);
  height: 12rem;
  aspect-ratio: 1/2.75;
  position: absolute;
  top: 10rem;
  z-index: 200;
  box-shadow: var(--suit-box-shadow);
}
.duck .body .arm.one {
  left: -1rem;
  rotate: 15deg;
  border-radius: 10rem 2rem 10rem 2rem;
  transform-origin: 3.5rem 3.5rem;
}
.duck .body .arm.two {
  right: -1rem;
  rotate: -15deg;
  border-radius: 2rem 10rem 2rem 10rem;
  transform-origin: 1rem 4.5rem;
}
.duck .legs .leg {
  background-color: var(--suit-primary-color);
  height: 11rem;
  aspect-ratio: 1/2.5;
  position: absolute;
  bottom: 0;
  z-index: 100;
  overflow: hidden;
  border-radius: 30%;
  box-shadow: var(--suit-box-shadow);
}
.duck .legs .leg::before {
  content: "";
  position: absolute;
  background-color: var(--suit-secondary-color);
  height: 1.75rem;
  width: 100%;
  bottom: 2rem;
}
.duck .legs .leg::after {
  content: "";
  position: absolute;
  background-color: var(--suit-tertiary-color);
  height: 3rem;
  aspect-ratio: 1/1.5;
  bottom: 4rem;
  border-radius: 50%;
}
.duck .legs .leg.one {
  left: 2.6rem;
}
.duck .legs .leg.one::after {
  left: -1rem;
}
.duck .legs .leg.two {
  right: 2.6rem;
}
.duck .legs .leg.two::after {
  right: -1rem;
}
.duck.waving .body .arm.one {
  -webkit-animation: waving 5s infinite ease-in-out;
          animation: waving 5s infinite ease-in-out;
}

@-webkit-keyframes waving {
  0% {
    rotate: 0;
  }
  40% {
    rotate: 120deg;
  }
  45% {
    rotate: 115deg;
  }
  50% {
    rotate: 120deg;
  }
  55% {
    rotate: 115deg;
  }
  60% {
    rotate: 120deg;
  }
  100% {
    rotate: 0;
  }
}

@keyframes waving {
  0% {
    rotate: 0;
  }
  40% {
    rotate: 120deg;
  }
  45% {
    rotate: 115deg;
  }
  50% {
    rotate: 120deg;
  }
  55% {
    rotate: 115deg;
  }
  60% {
    rotate: 120deg;
  }
  100% {
    rotate: 0;
  }
}
@-webkit-keyframes floating {
  0% {
    translate: 0 0;
  }
  50% {
    translate: 0 1rem;
  }
  100% {
    translate: 0 0;
  }
}
@keyframes floating {
  0% {
    translate: 0 0;
  }
  50% {
    translate: 0 1rem;
  }
  100% {
    translate: 0 0;
  }
}
@-webkit-keyframes mask-glow {
  0% {
    translate: -0.4rem 0.5rem;
    rotate: -50deg;
  }
  50% {
    translate: 0;
    rotate: -40deg;
  }
  100% {
    translate: -0.4rem 0.5rem;
    rotate: -50deg;
  }
}
@keyframes mask-glow {
  0% {
    translate: -0.4rem 0.5rem;
    rotate: -50deg;
  }
  50% {
    translate: 0;
    rotate: -40deg;
  }
  100% {
    translate: -0.4rem 0.5rem;
    rotate: -50deg;
  }
}
body {
  background: linear-gradient(-45deg, black, #20184a, black);
}

.space {
  position: fixed;
  z-index: -1;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  background: rgba(0, 0, 0, 0) center/250px 250px;
}

.stars1 {
  background-image: radial-gradient(1px 1px at 25px 5px, var(--heading-color), var(--transparent-color)), radial-gradient(1px 1px at 50px 25px, var(--heading-color), var(--transparent-color)), radial-gradient(1px 1px at 125px 20px, var(--heading-color), var(--transparent-color)), radial-gradient(1.5px 1.5px at 50px 75px, var(--heading-color), var(--transparent-color)), radial-gradient(2px 2px at 15px 125px, var(--heading-color), var(--transparent-color)), radial-gradient(2.5px 2.5px at 110px 80px, var(--heading-color), var(--transparent-color)), radial-gradient(1px 1px at 100px 20px, var(--heading-color), var(--transparent-color)), radial-gradient(2px 2px at 20px 50px, var(--heading-color), var(--transparent-color)), radial-gradient(2.5px 2.5px at 100px 5px, var(--heading-color), var(--transparent-color));
  -webkit-animation: var(--stars-animation) 140s -3s;
          animation: var(--stars-animation) 140s -3s;
}

.stars2 {
  background-image: radial-gradient(1px 1px at 75px 125px, var(--heading-color), var(--transparent-color)), radial-gradient(1px 1px at 100px 75px, var(--heading-color), var(--transparent-color)), radial-gradient(1.5px 1.5px at 199px 100px, var(--heading-color), var(--transparent-color)), radial-gradient(2px 2px at 20px 50px, var(--heading-color), var(--transparent-color)), radial-gradient(2.5px 2.5px at 100px 5px, var(--heading-color), var(--transparent-color)), radial-gradient(2.5px 2.5px at 5px 5px, var(--heading-color), var(--transparent-color));
  -webkit-animation: var(--stars-animation) 120s;
          animation: var(--stars-animation) 120s;
}

.stars3 {
  background-image: radial-gradient(1px 1px at 25px 5px, var(--heading-color), var(--transparent-color)), radial-gradient(1px 1px at 50px 25px, var(--heading-color), var(--transparent-color)), radial-gradient(1px 1px at 125px 20px, var(--heading-color), var(--transparent-color)), radial-gradient(1.5px 1.5px at 50px 75px, var(--heading-color), var(--transparent-color)), radial-gradient(2px 2px at 15px 125px, var(--heading-color), var(--transparent-color)), radial-gradient(2.5px 2.5px at 110px 80px, var(--heading-color), var(--transparent-color)), radial-gradient(1px 1px at 75px 125px, var(--heading-color), var(--transparent-color)), radial-gradient(1px 1px at 100px 75px, var(--heading-color), var(--transparent-color)), radial-gradient(1.5px 1.5px at 199px 100px, var(--heading-color), var(--transparent-color)), radial-gradient(2.5px 2.5px at 5px 5px, var(--heading-color), var(--transparent-color));
  -webkit-animation: var(--stars-animation) 110s -5s;
          animation: var(--stars-animation) 110s -5s;
}

@-webkit-keyframes stars {
  40% {
    opacity: 0.95;
  }
  50% {
    opacity: 0.45;
  }
  60% {
    opacity: 0.75;
  }
  100% {
    rotate: 1turn;
  }
}

@keyframes stars {
  40% {
    opacity: 0.95;
  }
  50% {
    opacity: 0.45;
  }
  60% {
    opacity: 0.75;
  }
  100% {
    rotate: 1turn;
  }
}
button {
  width: 8rem;
  aspect-ratio: 1.5/1;
  background-color: var(--button-primary-color);
  border: 3px solid var(--button-secondary-color);
  -webkit-clip-path: polygon(0 0, 0 100%, 100% 100%, 100% 25%, 75% 0);
          clip-path: polygon(0 0, 0 100%, 100% 100%, 100% 25%, 75% 0);
  cursor: pointer;
  position: relative;
  transition: 0.5s ease-out;
  z-index: 100;
}
button.music:hover {
  background-color: var(--button-secondary-color);
  border: 3px solid var(--button-primary-color);
}
button.music div {
  position: relative;
  width: 8rem;
  aspect-ratio: 1.5/1;
}
button.music div:hover {
  -webkit-animation: music-note 2.5s infinite ease-in-out;
          animation: music-note 2.5s infinite ease-in-out;
}
button.music div span {
  position: absolute;
  background-color: var(--button-tertiary-color);
}
button.music div span:first-of-type {
  bottom: 0.5rem;
  width: 1.25rem;
  aspect-ratio: 1/1.3;
  border-radius: 50%;
  rotate: 50deg;
  left: 3rem;
}
button.music div span:nth-of-type(2) {
  width: 0.2rem;
  height: 2.6rem;
  top: 1rem;
  left: 4.1rem;
}
button.music div span:nth-of-type(3) {
  width: 1.1rem;
  height: 0.6rem;
  top: 0.8rem;
  left: 4.1rem;
}
button.blackhole img {
  height: 4rem;
}
button.blackhole::before {
  content: "";
  border-radius: 50%;
  aspect-ratio: 1;
  width: 5rem;
  background-color: var(--button-tertiary-color);
  position: absolute;
  top: 0.2rem;
  left: 1.4rem;
  scale: 0;
  transition: 0.5s ease-in-out;
}
button.blackhole:hover::before {
  scale: 2;
  transition-delay: 1s;
}
button.blackhole:hover img {
  -webkit-animation: black-hole-grow 2s forwards;
          animation: black-hole-grow 2s forwards;
}
@-webkit-keyframes black-hole-grow {
  0% {
    scale: 1;
  }
  50% {
    scale: 0.7;
  }
  60% {
    scale: 10;
  }
  100% {
    scale: 10;
    rotate: 1turn;
  }
}
@keyframes black-hole-grow {
  0% {
    scale: 1;
  }
  50% {
    scale: 0.7;
  }
  60% {
    scale: 10;
  }
  100% {
    scale: 10;
    rotate: 1turn;
  }
}

@-webkit-keyframes music-note {
  0% {
    rotate: 0;
    translate: 0;
  }
  30% {
    rotate: 0;
    translate: 0 0.5rem;
  }
  40% {
    rotate: 0;
    translate: 0.25rem -0.35rem;
  }
  43% {
    rotate: 20deg;
  }
  70% {
    rotate: 0;
    translate: 0 0.5rem;
  }
  80% {
    rotate: 0;
    translate: -0.25rem -0.35rem;
  }
  83% {
    rotate: -10deg;
  }
  100% {
    rotate: 0;
    translate: 0;
  }
}

@keyframes music-note {
  0% {
    rotate: 0;
    translate: 0;
  }
  30% {
    rotate: 0;
    translate: 0 0.5rem;
  }
  40% {
    rotate: 0;
    translate: 0.25rem -0.35rem;
  }
  43% {
    rotate: 20deg;
  }
  70% {
    rotate: 0;
    translate: 0 0.5rem;
  }
  80% {
    rotate: 0;
    translate: -0.25rem -0.35rem;
  }
  83% {
    rotate: -10deg;
  }
  100% {
    rotate: 0;
    translate: 0;
  }
}
.button-wrapper {
  display: flex;
  justify-content: center;
  gap: 1rem;
  position: absolute;
  bottom: 2rem;
  width: 100%;
}

.dj-table {
  transform: translateY(30rem);
  transition: 3s ease-out;
}

.speaker {
  transition: 3s ease-out;
  transition-delay: 1s;
}
.speaker.one {
  transform: translateX(-30rem);
}
.speaker.two {
  transform: translateX(30rem);
}

.music-state {
  -webkit-animation: dj-background-color 2s linear infinite;
          animation: dj-background-color 2s linear infinite;
}
.music-state .audio-container {
  position: relative;
  width: 100%;
  transform: translateY(4.3rem);
  transition: 2s ease-out;
}
.music-state .audio-bars {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  height: 100px;
  width: 100%;
  transition: 2s ease-out;
}
.music-state .audio-bar {
  width: 10px;
  background-color: var(--speaker-big-color);
}
.music-state .duck {
  scale: 0.8;
  -webkit-animation: heen-en-weer 2s infinite ease-in-out alternate;
          animation: heen-en-weer 2s infinite ease-in-out alternate;
}
@-webkit-keyframes heen-en-weer {
  0% {
    transform: translateX(4rem);
  }
  100% {
    transform: translateX(-4rem);
  }
}
@keyframes heen-en-weer {
  0% {
    transform: translateX(4rem);
  }
  100% {
    transform: translateX(-4rem);
  }
}
.music-state .duck .head .mask .face-wrapper .face {
  -webkit-animation: headbang 1.5s infinite ease-in-out;
          animation: headbang 1.5s infinite ease-in-out;
  transform-origin: bottom center;
}
@-webkit-keyframes headbang {
  0% {
    rotate: 4deg;
  }
  50% {
    rotate: -7deg;
  }
  100% {
    rotate: 4deg;
  }
}
@keyframes headbang {
  0% {
    rotate: 4deg;
  }
  50% {
    rotate: -7deg;
  }
  100% {
    rotate: 4deg;
  }
}
.music-state .duck .body .arm.one {
  -webkit-animation: dj-arm-one 1.5s infinite ease-in-out;
          animation: dj-arm-one 1.5s infinite ease-in-out;
}
@-webkit-keyframes dj-arm-one {
  0% {
    rotate: 15deg;
  }
  50% {
    rotate: 30deg;
  }
  100% {
    rotate: 15deg;
  }
}
@keyframes dj-arm-one {
  0% {
    rotate: 15deg;
  }
  50% {
    rotate: 30deg;
  }
  100% {
    rotate: 15deg;
  }
}
.music-state .duck .body .arm.two {
  -webkit-animation: dj-arm-two 1.5s infinite ease-in-out;
          animation: dj-arm-two 1.5s infinite ease-in-out;
}
@-webkit-keyframes dj-arm-two {
  0% {
    rotate: -15deg;
  }
  50% {
    rotate: -30deg;
  }
  100% {
    rotate: -15deg;
  }
}
@keyframes dj-arm-two {
  0% {
    rotate: -15deg;
  }
  50% {
    rotate: -30deg;
  }
  100% {
    rotate: -15deg;
  }
}
.music-state .dj-stuff {
  position: relative;
}
.music-state .dj-stuff .dj-table {
  transform: translateY(0);
  transition: 3s ease-out;
  width: 30rem;
  aspect-ratio: 2/1;
  background-color: var(--dj-primary-color);
  position: relative;
  bottom: -5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
.music-state .dj-stuff .speaker {
  position: absolute;
  bottom: -5rem;
  height: 25rem;
  aspect-ratio: 1/3;
  background-color: var(--dj-primary-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  transform: translateX(0);
  transition: 3s ease-out;
}
.music-state .dj-stuff .speaker.one {
  left: -10rem;
}
.music-state .dj-stuff .speaker.two {
  right: -10rem;
}
.music-state .dj-stuff .speaker span {
  border-radius: 50%;
  aspect-ratio: 1;
}
.music-state .dj-stuff .speaker span.big {
  width: 5rem;
  background-color: var(--speaker-big-color);
}
.music-state .dj-stuff .speaker span.small {
  width: 3rem;
  background-color: var(--speaker-small-color);
}

@-webkit-keyframes music-playing {
  0% {
    transform: scaleY(1);
  }
  50% {
    transform: scaleY(0.3);
  }
  100% {
    transform: scaleY(1);
  }
}

@keyframes music-playing {
  0% {
    transform: scaleY(1);
  }
  50% {
    transform: scaleY(0.3);
  }
  100% {
    transform: scaleY(1);
  }
}
@-webkit-keyframes dj-background-color {
  0% {
    background-color: rgb(11, 0, 86);
  }
  32% {
    background-color: rgb(11, 0, 86);
  }
  33% {
    background-color: rgb(11, 4, 57);
  }
  65% {
    background-color: rgb(11, 4, 57);
  }
  66% {
    background-color: rgb(0, 33, 86);
  }
  100% {
    background-color: rgb(0, 33, 86);
  }
}
@keyframes dj-background-color {
  0% {
    background-color: rgb(11, 0, 86);
  }
  32% {
    background-color: rgb(11, 0, 86);
  }
  33% {
    background-color: rgb(11, 4, 57);
  }
  65% {
    background-color: rgb(11, 4, 57);
  }
  66% {
    background-color: rgb(0, 33, 86);
  }
  100% {
    background-color: rgb(0, 33, 86);
  }
}
.bh-container {
  opacity: 0;
  transition: 7s ease-in-out;
  border-radius: 50%;
}

.black-hole-state .duck {
  -webkit-animation: black-hole-duck 15s;
          animation: black-hole-duck 15s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}
.black-hole-state .duck .head .mask .face-wrapper .face .eye {
  -webkit-animation: big-eyes 2s ease-out;
          animation: big-eyes 2s ease-out;
  -webkit-animation-delay: 5s;
          animation-delay: 5s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}
@-webkit-keyframes big-eyes {
  0% {
    scale: 1;
  }
  100% {
    scale: 1.3;
  }
}
@keyframes big-eyes {
  0% {
    scale: 1;
  }
  100% {
    scale: 1.3;
  }
}
.black-hole-state .duck .beak {
  -webkit-animation: duck-yell 3s infinite ease-in-out;
          animation: duck-yell 3s infinite ease-in-out;
  -webkit-animation-delay: 3s;
          animation-delay: 3s;
}
.black-hole-state .duck .beak::before {
  -webkit-animation: duck-yell-before 3s infinite ease-in-out;
          animation: duck-yell-before 3s infinite ease-in-out;
  -webkit-animation-delay: 3s;
          animation-delay: 3s;
}
@-webkit-keyframes duck-yell {
  0% {
    rotate: 0;
  }
  25% {
    rotate: 30deg;
  }
  75% {
    rotate: 30deg;
  }
  100% {
    rotate: 0;
  }
}
@keyframes duck-yell {
  0% {
    rotate: 0;
  }
  25% {
    rotate: 30deg;
  }
  75% {
    rotate: 30deg;
  }
  100% {
    rotate: 0;
  }
}
@-webkit-keyframes duck-yell-before {
  0% {
    rotate: 0;
  }
  25% {
    rotate: -40deg;
  }
  75% {
    rotate: -40deg;
  }
  100% {
    rotate: 0;
  }
}
@keyframes duck-yell-before {
  0% {
    rotate: 0;
  }
  25% {
    rotate: -40deg;
  }
  75% {
    rotate: -40deg;
  }
  100% {
    rotate: 0;
  }
}
@-webkit-keyframes black-hole-duck {
  0% {
    transform: scale(0.8) rotate(0deg);
    filter: grayscale(0%);
  }
  15% {
    transform: scale(0.6);
    filter: grayscale(0%);
  }
  30% {
    transform: scale(0.7);
    filter: grayscale(0%);
  }
  45% {
    transform: scale(0.5);
    filter: grayscale(0%);
  }
  60% {
    transform: scale(0.6);
    filter: grayscale(0%);
  }
  70% {
    filter: grayscale(100%);
    transform: scale(0.6);
  }
  100% {
    filter: grayscale(100%);
    transform: scale(0) rotate(1turn);
  }
}
@keyframes black-hole-duck {
  0% {
    transform: scale(0.8) rotate(0deg);
    filter: grayscale(0%);
  }
  15% {
    transform: scale(0.6);
    filter: grayscale(0%);
  }
  30% {
    transform: scale(0.7);
    filter: grayscale(0%);
  }
  45% {
    transform: scale(0.5);
    filter: grayscale(0%);
  }
  60% {
    transform: scale(0.6);
    filter: grayscale(0%);
  }
  70% {
    filter: grayscale(100%);
    transform: scale(0.6);
  }
  100% {
    filter: grayscale(100%);
    transform: scale(0) rotate(1turn);
  }
}
.black-hole-state button {
  -webkit-animation: black-hole-button 3s;
          animation: black-hole-button 3s;
  -webkit-animation-delay: 9s;
          animation-delay: 9s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}
@-webkit-keyframes black-hole-button {
  30% {
    filter: grayscale(0%);
  }
  70% {
    filter: grayscale(100%);
    transform: scale(1);
  }
  100% {
    filter: grayscale(100%);
    transform: scale(0);
  }
}
@keyframes black-hole-button {
  30% {
    filter: grayscale(0%);
  }
  70% {
    filter: grayscale(100%);
    transform: scale(1);
  }
  100% {
    filter: grayscale(100%);
    transform: scale(0);
  }
}
.black-hole-state .bh-container {
  display: grid;
  place-items: center;
  height: 100vh;
  grid-template-areas: "bh-shadow";
  background: linear-gradient(-45deg, black, #20184a, black);
  background-size: 400% 400%;
  -webkit-animation: gradient 10s ease infinite;
          animation: gradient 10s ease infinite;
  overflow: hidden;
  opacity: 1;
  border-radius: 0;
}
@-webkit-keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
.black-hole-state .bh-doppler {
  width: 40vw;
  height: 40vw;
  grid-area: bh-shadow;
  border-radius: 63% 50% 55% 42%/67% 47% 65% 47%;
  -webkit-animation: doppler 9s ease-in-out 0.5s infinite backwards;
          animation: doppler 9s ease-in-out 0.5s infinite backwards;
  z-index: 2;
  background: linear-gradient(-45deg, var(--black-hole-secondary), #20184a, #1c163b);
  opacity: 0.3;
}
@-webkit-keyframes doppler {
  0% {
    transform: scale(1) rotate(0deg);
    border-radius: 51% 50% 55% 52%/51% 43% 68% 48%;
  }
  50% {
    transform: scale(3.4) rotate(-160deg);
    border-radius: 83% 60% 55% 22%/67% 97% 65% 47%;
  }
  0% {
    transform: scale(1) rotate(0deg);
    border-radius: 51% 50% 55% 52%/51% 43% 68% 48%;
  }
}
@keyframes doppler {
  0% {
    transform: scale(1) rotate(0deg);
    border-radius: 51% 50% 55% 52%/51% 43% 68% 48%;
  }
  50% {
    transform: scale(3.4) rotate(-160deg);
    border-radius: 83% 60% 55% 22%/67% 97% 65% 47%;
  }
  0% {
    transform: scale(1) rotate(0deg);
    border-radius: 51% 50% 55% 52%/51% 43% 68% 48%;
  }
}
.black-hole-state .bh-photon-ring {
  width: 35vw;
  height: 35vw;
  border-radius: 100%;
  grid-area: bh-shadow;
  background: var(--black-hole-primary);
  -webkit-animation: photon 8s ease-in-out 0.5s infinite alternate;
          animation: photon 8s ease-in-out 0.5s infinite alternate;
  z-index: 2;
  box-shadow: inset 50px -10px 0px 4px black;
  border: 60px double var(--black-hole-tertiary);
  box-sizing: content-box;
  padding: 40px;
  background-clip: padding-box;
}
@-webkit-keyframes photon {
  0% {
    transform: rotate(0deg);
    border-radius: 51% 50% 155% 52%/51% 13% 88% 48%;
    opacity: 0.2;
  }
  50% {
    transform: rotate(-160deg);
    border-radius: 63% 50% 55% 42%/67% 27% 65% 47%;
    opacity: 0.4;
    filter: blur(50px);
  }
  0% {
    transform: rotate(0deg);
    border-radius: 51% 50% 55% 52%/51% 43% 38% 48%;
    opacity: 0.6;
  }
}
@keyframes photon {
  0% {
    transform: rotate(0deg);
    border-radius: 51% 50% 155% 52%/51% 13% 88% 48%;
    opacity: 0.2;
  }
  50% {
    transform: rotate(-160deg);
    border-radius: 63% 50% 55% 42%/67% 27% 65% 47%;
    opacity: 0.4;
    filter: blur(50px);
  }
  0% {
    transform: rotate(0deg);
    border-radius: 51% 50% 55% 52%/51% 43% 38% 48%;
    opacity: 0.6;
  }
}
.black-hole-state .bh-accretion {
  width: 30vw;
  height: 30vw;
  background: var(--black-hole-secondary);
  grid-area: bh-shadow;
  border-radius: 63% 50% 55% 42%/67% 47% 65% 47%;
  -webkit-animation: accretion 8s ease-in-out 0.5s infinite alternate;
          animation: accretion 8s ease-in-out 0.5s infinite alternate;
  z-index: 3;
}
@-webkit-keyframes accretion {
  0% {
    transform: scale(1) rotate(0deg);
    border-radius: 51% 50% 55% 52%/51% 43% 68% 48%;
  }
  50% {
    transform: scale(1.4) rotate(100deg);
    border-radius: 63% 50% 55% 42%/67% 47% 65% 47%;
    opacity: 0.7;
  }
  0% {
    transform: scale(0.9) rotate(0deg);
    border-radius: 51% 50% 55% 52%/51% 43% 68% 48%;
  }
}
@keyframes accretion {
  0% {
    transform: scale(1) rotate(0deg);
    border-radius: 51% 50% 55% 52%/51% 43% 68% 48%;
  }
  50% {
    transform: scale(1.4) rotate(100deg);
    border-radius: 63% 50% 55% 42%/67% 47% 65% 47%;
    opacity: 0.7;
  }
  0% {
    transform: scale(0.9) rotate(0deg);
    border-radius: 51% 50% 55% 52%/51% 43% 68% 48%;
  }
}
.black-hole-state .bh-backdrop {
  width: 100vw;
  height: 100vh;
  grid-area: bh-shadow;
  -webkit-backdrop-filter: blur(50px);
          backdrop-filter: blur(50px);
  z-index: 4;
}
.black-hole-state .bh-shadow {
  width: 20vw;
  height: 20vw;
  background: black;
  display: flex;
  border-radius: 100%;
  grid-area: bh-shadow;
  -webkit-animation: shadow 15s ease-in-out;
          animation: shadow 15s ease-in-out;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  z-index: 5;
  box-shadow: 2px 3px 10px 1px white, -20px 65px 160px 10px rgba(255, 255, 255, 0.7), -2px -3px 0px 1px rgba(255, 255, 255, 0.2), -4px 14px 30px 3px rgba(255, 255, 255, 0.5);
}
@-webkit-keyframes shadow {
  0% {
    transform: rotate(10deg) scale(1);
  }
  2% {
    transform: rotate(30deg) scale(1);
  }
  5% {
    transform: rotate(20deg) scale(1);
  }
  7% {
    transform: rotate(50deg) scale(1);
  }
  9% {
    transform: rotate(90deg) scale(1);
  }
  13% {
    transform: rotate(180deg) scale(1);
  }
  16% {
    transform: rotate(10deg) scale(1);
  }
  18% {
    transform: rotate(30deg) scale(1);
  }
  20% {
    transform: rotate(20deg) scale(1);
  }
  25% {
    transform: rotate(50deg) scale(1);
  }
  28% {
    transform: rotate(90deg) scale(1);
  }
  30% {
    transform: rotate(180deg) scale(1);
  }
  34% {
    transform: rotate(10deg) scale(1);
  }
  38% {
    transform: rotate(30deg) scale(1);
  }
  42% {
    transform: rotate(20deg) scale(1);
  }
  46% {
    transform: rotate(50deg) scale(1);
  }
  50% {
    transform: rotate(90deg) scale(1);
  }
  53% {
    transform: rotate(180deg) scale(1);
  }
  57% {
    transform: rotate(10deg) scale(1);
  }
  60% {
    transform: rotate(30deg) scale(1);
  }
  64% {
    transform: rotate(20deg) scale(1);
  }
  67% {
    transform: rotate(50deg) scale(1);
  }
  70% {
    transform: rotate(90deg) scale(1);
  }
  72% {
    transform: rotate(180deg) scale(1);
  }
  75% {
    transform: rotate(10deg) scale(1);
  }
  80% {
    transform: rotate(30deg) scale(0.8);
  }
  85% {
    transform: rotate(20deg) scale(1.5);
  }
  90% {
    transform: rotate(50deg) scale(1.4);
  }
  95% {
    transform: rotate(90deg) scale(2.5);
  }
  100% {
    transform: rotate(180deg) scale(10);
  }
}
@keyframes shadow {
  0% {
    transform: rotate(10deg) scale(1);
  }
  2% {
    transform: rotate(30deg) scale(1);
  }
  5% {
    transform: rotate(20deg) scale(1);
  }
  7% {
    transform: rotate(50deg) scale(1);
  }
  9% {
    transform: rotate(90deg) scale(1);
  }
  13% {
    transform: rotate(180deg) scale(1);
  }
  16% {
    transform: rotate(10deg) scale(1);
  }
  18% {
    transform: rotate(30deg) scale(1);
  }
  20% {
    transform: rotate(20deg) scale(1);
  }
  25% {
    transform: rotate(50deg) scale(1);
  }
  28% {
    transform: rotate(90deg) scale(1);
  }
  30% {
    transform: rotate(180deg) scale(1);
  }
  34% {
    transform: rotate(10deg) scale(1);
  }
  38% {
    transform: rotate(30deg) scale(1);
  }
  42% {
    transform: rotate(20deg) scale(1);
  }
  46% {
    transform: rotate(50deg) scale(1);
  }
  50% {
    transform: rotate(90deg) scale(1);
  }
  53% {
    transform: rotate(180deg) scale(1);
  }
  57% {
    transform: rotate(10deg) scale(1);
  }
  60% {
    transform: rotate(30deg) scale(1);
  }
  64% {
    transform: rotate(20deg) scale(1);
  }
  67% {
    transform: rotate(50deg) scale(1);
  }
  70% {
    transform: rotate(90deg) scale(1);
  }
  72% {
    transform: rotate(180deg) scale(1);
  }
  75% {
    transform: rotate(10deg) scale(1);
  }
  80% {
    transform: rotate(30deg) scale(0.8);
  }
  85% {
    transform: rotate(20deg) scale(1.5);
  }
  90% {
    transform: rotate(50deg) scale(1.4);
  }
  95% {
    transform: rotate(90deg) scale(2.5);
  }
  100% {
    transform: rotate(180deg) scale(10);
  }
}
.black-hole-state .bh-audio {
  position: fixed;
  right: 40px;
  bottom: 40px;
  z-index: 10;
  color: white;
  cursor: pointer;
}
.black-hole-state .a {
  width: 24px;
  height: 24px;
  display: flex;
  left: 40px;
  bottom: 40px;
  position: fixed;
  z-index: 10;
}
.black-hole-state .bh-container {
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
  transition-timing-function: ease-out;
  -webkit-animation-name: init;
          animation-name: init;
  -webkit-animation-duration: 4s;
          animation-duration: 4s;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
}
@-webkit-keyframes init {
  0% {
    opacity: 0;
    transform: scale(0.8);
  }
  100% {
    opacity: 1;
    transform: none;
  }
}
@keyframes init {
  0% {
    opacity: 0;
    transform: scale(0.8);
  }
  100% {
    opacity: 1;
    transform: none;
  }
}/*# sourceMappingURL=style.css.map */